.backgroundForm {
  background-image: url("../../images/canvas.jpg");
    // height: 980px;
}

.form-box {
  margin-top: -65px;
position: relative;
  margin: auto;
  width: 100%;
}

.form-wrapper {
display: flex;
flex-wrap: wrap;
max-width: 960px;
margin: 0 auto;
justify-content: space-between;
padding-top: 170px;
margin-top: -137px;
}

.recaptcha {
  margin-bottom: 21px;
}

.dissapear {
  display: none;
}

.appear {
  opacity: 0.4;
  display: block;
  width: 500px;
  height: 500px;
}

.messageBox{
  position: relative;
}

.message {
  position: absolute;
top: 50%;
left: 25%;
transform: translate;
transform: translate(-50%, -50%);
}

.form {
    max-width: 300px;
    position: relative;
}

.box {
    margin-bottom: 20px;
}

.text {
  padding: 8px;
  width: 300px;
}

.titleWrapper {
  width: 100%;
  padding-bottom: 30px;
  position: relative;
}

  .contactTitle{
  font-size: 40px;
    position: relative;
    font-size: 40px;
    background: -webkit-linear-gradient(45deg, #181717, #0f0b0e 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-align: left;
    font-weight: 1000;
}

.contactParagraph {
  margin-top: 20px;
}

.underlineStrokeForm {
  width: 340px;
  position: absolute;
  bottom: 23px;
  z-index: 10;
  left: -1.5rem
}

$fuschia: #ff0081;
$button-bg: $fuschia;
$button-text-color: #fff;
$baby-blue: #f8faff;

body{
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: $baby-blue;
}
.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: $button-bg;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

html {
  background-image:linear-gradient(#eee, #aaa);
  height:100%;
}

// .tropicalPainting {
//   border:solid 2px;
//   border-bottom-color:#ffe;
//   border-left-color:#eed;
//   border-right-color:#eed;
//   border-top-color:#ccb;
//   max-height:100%;
//   max-width:100%;
// }

// .tropicalPainting {
//   position: absolute;
//   bottom: 0px;
//   right: 0px;
//   height: 700px
// }

.tropicalWrapper {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 1;
  height: 440px;
  background-color: #181717;
  border: 18px solid#181717;
  width: 440px;
}

.paintingWrapper{
  position: relative;
  margin-top: 70px;
}

.backgroundWrapperForm {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: #C79898;
  position: relative;
  padding: 80px;
}

.footerImage-2 {
  position: absolute;
  bottom: 0;
  right: 50%;
  width: 140px;
  height: 140px;
  transform: rotate(-20deg);
}

.footerImage-1 {
  width: 440px;
  height: 600px;
  position: absolute;
  bottom: 0;
  right: 130px;
}

.footerImage-0 {
  position: absolute;
  left: 40%;
  width: 150px;
  height: 150px;
  transform: rotate(20deg);
}

@media(max-width: 400px) {
  .tropicalPainting {
    height: 300px;
    margin-left: 90px;
  }
  .secondButterfly {
    bottom: 20%;
    left: 5%;
    width: 80px;
    height: 80px;
  }
  .firstButterfly {
    top: 950px;
    left: 5px;
    width: 70px;
    height: 70px;
  }
  .footer {
    flex-wrap: wrap;
  }
  .svgWrapper {
    margin: 0 auto;
    margin-bottom: 3px;
    padding: 0;
    flex-wrap: wrap;
  }
}

@media(max-width: 738px){
.firstButterfly {
  right: 10%;
  bottom: 0;
  width: 80px;
  height: 80px;
}
.secondButterfly{
  left: 0; 
  width: 90px;
  height: 90px;
}
// .tropicalPainting {
//   height: 320px;
// }
}

@media(min-width: 400px) and (max-width: 624px){
  .tropicalPainting {
  height: 430px;
  }
}

@media(max-width: 960px){
  .contactTitle {
    text-align: center;
}
.underlineStrokeForm {
  left: -0.7rem;
  bottom: 20px;
}
  .form-wrapper {
    justify-content: center;
  max-width: 700px;
  }
  .firstButterfly {
    right: 20px;
  }
  .secondButterfly {
    left: 0;
  }
  .contactParagraph{
    text-align: center;
  }
}

@media(min-width: 961px){ 
  .firstButterfly {
  bottom: 450px;
  }
}