.background {
    background-color: #F9F9F4;
}

.clip {
    background-color: #cacaca;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}


.wrapper {padding: 0 10px;
    padding-bottom: 110px;
}

.title {
    text-align: center;
    align-content: center;
    padding-top: 130px;
}

.picture {
display: inline-flex;
height: 400px;
width: 400px;
margin-bottom: 20px;
}

.text {
    max-width: 500px;
}

.content {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
}