/*==================
background styles
===================*/

.background {
    background: linear-gradient(to bottom, #080808, #181717); 
}

.clip {
    background-color: #C79898;
    clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
    padding-top: 100px;
    /* margin-bottom: -100px; */
}

/*==================
content styles
===================*/

.contentWrapper {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    max-width: 960px;
    justify-content: space-between;
    margin: auto;
}

/*==================
title styles
===================*/

.titleBox {
    height: 110px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.title {
    text-align: center;
    align-content: center;
}

.title {
    position: relative;
    font-size: 40px;
    background: -webkit-linear-gradient(45deg, #181717, #0f0b0e 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    text-align: left;
    font-weight: 1000;
}

.underlineStroke {
    width: 285px;
    position: absolute;
    bottom: -1.6rem;
    z-index: 10;
    left: -1.4rem
}

/*==================
photo of artist styles
===================*/

.photo {
    display: inline-flex;
    height: 400px;
    width: 400px;
    margin-bottom: 70px;
}

.photo {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: -2;
    height: 440px;
    background-color: #cacaca;
    border: 19px solid #030203;
}

/* .photo::before {
    content: "";
    position: absolute;
    border: 15px solid #35605A;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    z-index: 100;
} */

/*==================
paragraph styles
===================*/

.paragraph {
    height: 250px;
    width: 500px;
    margin: auto 0;
}