@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* .header {
    position: fixed;
    width: 100%;
    z-index: 10;
} */

.wrapper { 
    padding: 20px;
    position: relative;
    width: 100%;
    /* padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    padding-right: 3vw; */
    background-color: #a7a6a6;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.title {
    z-index: 1;
    color: white;
    font-size: calc(5px + 3vw);
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.nav {
    margin: 0 70px;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
}

.nav > ul {
    margin-left: 15px;
    margin-top: 12px;
    font-size: 15px;
    padding: 0px;
}

a {
    font-weight: bold;
}
.nav > a,
a:after,
a:before {
  transition: all .5s;
}
.nav > a:hover {
  color: #ffffff;
  text-decoration: none;
}

.mainOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    height: 109%;
    width: 100%;
    top: 0;
    left: 0;
  }

  .nav > a {
      text-decoration: none;
      color: black;
      margin-right: 20px;
      margin-top: 15px;
  }

  .navbar{
      height: 50px;
      width: 100%;
      background-color: rgb(24, 23, 23);
  }

  .svgWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 70px;
    margin-top: 2px;
  }

  .svg {
      margin-top: 12px;
      margin-right: 15px;
      cursor: pointer;
      height: 20px;
      width: 20px;
  }

  @media (min-width: 481px) and (max-width: 1025px) {
      .title {
          margin-left: 10%;
      }
    .wrapper{
        display: grid;
grid-template-columns: 1fr 1fr 1fr;
    }
    .nav {
        display: none;
      }
  
      .svg {
          display: none;
      }
      .brushImg {
          width: 35%;
          height: 85px;
          position: absolute;
          top: 10%;
          left: 1%;
      }
  }

@media (max-width: 480px) {
    .wrapper{
        display: grid;
grid-template-columns: 1fr 1fr;
    }
    .nav {
      display: none;
    }

    .svg {
        display: none;
    }
    .brushImg {
        width: 50%;
        height: 50px;
        position: absolute;
        top: 20%;
        left: 1%;
    }
}
@media (min-width: 1030px) {
.brushImg {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 10%;
    left: 33%;
}
}
/* 
width: 400px;
height: 100px;
position: absolute;
top: 10%;
left: 33%; */