/*================
global styles
==================*/

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*================
typography
==================*/

.galleryTitle {
    /* color:black; */
    font-size: 50px;
    font-weight: 900;
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    /* text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange; */
    }

.galleryTitle {
    background: -webkit-linear-gradient(45deg, #e6b30c, #9e7901 80%);
        /* background: linear-gradient(to right, rgb(243, 136, 37), rgb(231, 137, 223) 50%, rgb(50, 131, 197) 50%); */
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* background-size: 200% 100%;
        background-position: 100%; */
        /* transition: background-position 275ms ease; */
        text-decoration: none;
        width: 250px;
    }   

.galleryTitle::after {
    content: '';
    position: absolute;
    bottom: -0.125rem;
    left: 17px;
    right: -0.5rem;
    height: 0.75rem;
    z-index: 10;
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg");
    background-repeat: no-repeat;

    } 

/*================
backgroundstyles
==================*/

.background {
    background-image: url("../../images/canvas.jpg");
    padding-bottom: 100px;
}

/*================
gallery display styles
==================*/

.imageGallery {
    max-width: 1040px;
    margin: auto;
    padding-top: 50px; 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
     grid-gap: 1.5rem;
    grid-auto-flow: dense; 
    grid-template-areas: 
    'img-0 img-0 img-0 img-1 img-1 img-1'
    'img-2 img-2 img-2 img-2 img-3 img-3'
    'img-4 img-4 img-5 img-5 img-5 img-5'
    'img-6 img-6 img-6 img-6 img-7 img-7'
}

.image {
    object-fit: contain;
    width: 100%;
    padding: 35%;
} 

.image-0 {
    grid-area: img-0;
   }  

.image-1 {
    grid-area: img-1;
 }

.image-2 {
    grid-area: img-2;
} 
   
.image-3 {
grid-area: img-3;
}  

.image-4 {
grid-area: img-4;
} 

.image-5 {
grid-area: img-5;
} 

.image-6 {
grid-area: img-6;
} 

.image-7 {
grid-area: img-7;
} 

/*================
media queries
==================*/

@media (max-width: 1070px){
    .imageGallery {
        margin: 0 50px;
    }
}

@media (max-width: 600px) {
     .imageGallery {
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.30fr 1fr 1fr 2fr 2fr 1fr 2fr;
        grid-template-areas: 
        'img-0 img-0 img-0 img-0'
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-7 img-7 img-7 img-7'
        'img-6 img-6 img-6 img-6'
     }

    }