*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: #F9F9F4;
    padding-bottom: 100px;
}

.imageGallery {
    width: 85%;
    margin: auto;
    padding-top: 50px; 
    /* max-width: 90vw;
    margin: auto;
    position: relative; */
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
     grid-gap: 1.5rem;
    grid-auto-flow: dense; 
    grid-template-areas: 
    'img-0 img-0 img-0 img-1 img-1 img-1'
    'img-2 img-2 img-2 img-2 img-3 img-3'
    'img-4 img-4 img-5 img-5 img-5 img-5'
    'img-6 img-6 img-6 img-6 img-7 img-7'
}

.image {
    object-fit: contain;
    width: 100%;
    padding: 35%;
    /* height: auto; */
    /* height: 400px; */
    /* object-position: 50% 50%; */
    /* cursor: pointer; */
    /* transition: 5s ease-in-out; */
} 

@media (max-width: 600px) {
     .imageGallery {
        grid-gap: 1.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.30fr 1fr 1fr 2fr 2fr 1fr 2fr;
        grid-template-areas: 
        'img-0 img-0 img-0 img-0'
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-7 img-7 img-7 img-7'
        'img-6 img-6 img-6 img-6'
        /* display: flex;
        flex-wrap: wrap; */
     }
     /* .image {
         padding: 50%;
     } */
     /* .image-0 {
       height: 300px;
     } */
    }

.image-0 {
        grid-area: img-0;
       }  

.image-1 {
        grid-area: img-1;
     }

.image-2 {
        grid-area: img-2;
    } 
       
.image-3 {
    grid-area: img-3;
}  

.image-4 {
    grid-area: img-4;
} 

.image-5 {
    grid-area: img-5;
} 

.image-6 {
    grid-area: img-6;
} 

.image-7 {
    grid-area: img-7;
} 