.background {
    background-image: url("../../images/canvas.jpg")
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #030202;
}

.svgWrapper {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    height: 100px;
  }

  .svgWrapper > p {
      text-align: center;
      color: rgb(167, 167, 167);
  }

  .paragraph {
      max-width: 700px;
      color: whitesmoke !important;
  }

  .svgWrapper > div {
      max-width: 80px;
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      width: 100%;
  }

  .svg {
      cursor: pointer;
      height: 30px;
      width: 30px;
      color: white;
      z-index: 10;
  }

  @media(max-width: 960px){
    .svgWrapper {
    flex-wrap: wrap;
    }
    .svgWrapper > div {
        /* margin: 0 auto; */
        padding: 0 15px 0 5px;
        max-width: 90px;
    }
    .svgWrapper > p {
    padding-left: 15px;
    }
  }

  @media (max-width: 590px){
    .svgWrapper > p {
        margin: 0 auto;
        padding: 2px;
    }
      .svgWrapper > div {
        margin: 0 auto;
        padding: 5px;
      }
  }